[data-theme='mocha'] {
    --p: 0.7664 0.1113 259.885;
    --s: 0.7821 0.0903 8.8482;
    --a: 0.645 0.2195 142.4953;
    --n: 0.1828 0.0204 284.2039;
    --b1: 0.2429 0.0304 283.911;
    --in: 0.8166 0.091 277.3092;
    --su: 0.8577 0.1092 142.7153;
    --wa: 0.8237 0.1015 52.6294;
    --er: 0.7556 0.1297 2.7642;
    --b2: 0.2186 0.0273 283.911;
    --b3: 0.1943 0.0243 283.911;
    --bc: 0.8486 0.0061 283.911;
    --pc: 0.1533 0.0223 259.885;
    --sc: 0.1564 0.0181 8.8482;
    --ac: 0.129 0.0439 142.4953;
    --nc: 0.8366 0.0041 284.2039;
    --inc: 0.1633 0.0182 277.3092;
    --suc: 0.1715 0.0218 142.7153;
    --wac: 0.1647 0.0203 52.6294;
    --erc: 0.1511 0.0259 2.7642;
}
/* {
/*    !* primary *!*/
/*    --p: 217, 92%, 76%;*/
/*    !* primary focus *!*/
/*    --pf: 262 80% 40%;*/
/*    !* primary content *!*/
/*    --pc: 0 0% 100%;*/

/*    !* secondary *!*/
/*    --s: 350, 65%, 77%;*/
/*    !* secondary focus *!*/
/*    --sf: 316 70% 100%;*/
/*    !* secondary content *!*/
/*    --sc: 0 0% 50%;*/

/*    !* accent *!*/
/*    --a: 120, 100%, 34%;*/
/*    !* accent content *!*/
/*    --ac: 0 0% 100%;*/
/*    !* accent focus *!*/
/*    --af: 175 70% 33%;*/

/*    !* info *!*/
/*    --in: 232, 97%, 85%;*/
/*    !* info content *!*/
/*    --inc: 198 100% 12%;*/

/*    !* success *!*/
/*    --su: 115, 54%, 76%;*/
/*    !* success content *!*/
/*    --suc: 158 100% 10%;*/

/*    !* warning *!*/
/*    --wa: 23, 92%, 75%;*/
/*    !* warning content *!*/
/*    --wac: 43 100% 11%;*/

/*    !* error *!*/
/*    --er: 343, 81%, 75%;*/
/*    !* error content *!*/
/*    --erc: 0 100% 14%;*/

/*    !* neutral *!*/
/*    --n: 240, 23%, 9%;*/
/*    !* neutral focus *!*/
/*    --nf: 223 17% 8%;*/
/*    !* neutral content *!*/
/*    --nc: 220 13% 69%;*/

/*    !* base 100 *!*/
/*    --b1: 240, 21%, 15%;*/
/*    !* base 200 *!*/
/*    --b2: 220 17% 17%;*/
/*    !* base 300 *!*/
/*    --b3: 219 18% 15%;*/
/*    !* base content *!*/
/*    --bc: 220 13% 69%;*/

/*    !* other settings *!*/
/*    --rounded-box: 1rem;*/
/*    --rounded-btn: 0.25rem;*/
/*    --rounded-badge: 1.9rem;*/
/*    --animation-btn: 0.25s;*/
/*    --animation-input: 0.2s;*/
/*    --btn-text-case: capitalize;*/
/*    --btn-focus-scale: 0.95;*/
/*    --border-btn: 1px;*/
/*    --tab-border: 1px;*/
/*    --tab-radius: 0.5rem;*/
/*}*/