@using Web.Models.View.User
@using Web.Models.Link
@model DashboardView
@{
    Layout = "_UserLayout";
}

@Html.Partial("_Header", new _HeaderView()
{
    isAdmin = Model.UserIsAdmin,
    name = Model.UserName,
    picPath = Model.UserPicPath,
    plan = Model.UserPlan
})

<div class="my-10">
    <div class="card w-auto mx-5 bg-base-200 shadow-xl  ">
        <div class="card-body">
            <div class="card-title">
                <h2>Links</h2>
                <div class="grow"></div>
                <button class="btn btn-primary" onclick="create.showModal()">Create</button>
            </div>
            <div class="flex items-center justify-center mx-3">
                @if (Model.links.Count == 0)
                {
                    <span class="p-2">Nothing to show here</span>
                }
            </div>
        </div>
    </div>
</div>


@* Modals *@
<dialog id="create" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box card">
        <form class="card-body" method="post" asp-action="CreateLink">
            <h2 class="card-title">Shorten a Link</h2>
            
            <div class="form-control mt-2">
                <input type="text" placeholder="Long Link" class="input input-bordered" asp-for="NewLinkURL" required/>
            </div>
            
            <div class="form-control mt-2">
                <input type="text" placeholder="Name" class="input input-bordered" asp-for="NewLinkName"/>
            </div>
            
            <div class="form-control mt-2">
                <input type="text" placeholder="Custom Code" class="input input-bordered" asp-for="NewLinkCode"/>
            </div>
            
            <div class="form-control mt-6">
                <button class="btn btn-primary">Create</button>
            </div>
        </form>

        <div class="modal-action">
            <form method="dialog">
                <button class="btn">Close</button>
            </form>
            </div>
    </div>
</dialog>