@using Web.Models.View.User
@using Web.Models.Account
@model DashboardView
@{
    Layout = "_UserLayout";
}
<header>
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl">Pater</a>
        </div>
        <div class="flex-none">
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img alt="User Avatar" src=""/>
                    </div>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li>
                        <a>
                            Profile
                        </a>
                    </li>
                    @if (Model.isAdmin)
                    {
                        <li>
                            <a>Admin</a>
                        </li>
                    }
                    @if (Model.plan == AccountModel.Plans.Free)
                    {
                        <li>
                            <a>Upgrade to Premium</a>
                        </li>
                    }
                    <li>
                        <a>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="my-10">
    <div class="card w-auto mx-5 bg-base-200 shadow-xl  ">
        <div class="card-body">
            <div class="card-title">
                <h2>Links</h2>
                <div class="grow"></div>
                <button class="btn btn-primary" onclick="create.showModal()">Create</button>
            </div>
            <div class="flex items-center justify-center mx-3">
                @if (Model.links.Count == 0)
                {
                    <span class="p-2">Nothing to show here</span>
                }
            </div>
        </div>
    </div>
</div>


@* Modals *@
<dialog id="create" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box card">
        <form class="card-body">
            <h2 class="card-title">Shorten a Link</h2>
            
            <div class="form-control mt-2">
                <input type="text" placeholder="Long Link" class="input input-bordered" required/>
            </div>
            
            <div class="form-control mt-2">
                <input type="text" placeholder="Name" class="input input-bordered"/>
            </div>
            
            <div class="form-control mt-2">
                <input type="text" placeholder="Custom Code" class="input input-bordered"/>
            </div>
            
            <div class="form-control mt-6">
                <button class="btn btn-primary">Create</button>
            </div>
        </form>

        <div class="modal-action">
            <form method="dialog">
                <button class="btn">Close</button>
            </form>
            </div>
    </div>
</dialog>