@using Web.Models.View.User
@model Web.Models.View.User.ProfileView
@{
    ViewData["Title"] = "Profile | Pater";
    Layout = "_UserLayout";
}
@Html.Partial("_Header", new _HeaderView()
{
    isAdmin = Model.UserIsAdmin,
    name = Model.UserName,
    picPath = Model.UserPicPath,
    plan = Model.UserPlan
})

<div class="my-10 flex flex-col h-screen">
    <div class="flex w-auto items-center justify-center py-6">
        <div class="py-3 center mx-auto">
            <div class="bg-base-300 px-4 py-5 rounded-lg shadow-lg text-center w-48">
                <div class="mb-4">
                    <img class="w-auto mx-auto rounded-full object-cover object-center" src="~/UserPics/@(Model.UserPicPath == null ? "default-avatar.svg" : Model.UserPicPath)" alt="Avatar"/>
                </div>
                <label class="cursor-pointer mt-6">
                    <span class="mt-2 text-base leading-normal px-4 py-2 bg-blue-500 text-white text-sm rounded-full">Change Avatar</span>
                    <form class="hidden" method="post" asp-action="ChangeAvatar" enctype="multipart/form-data">
                        <input type="file" asp-for="file" class="hidden" accept="image/*" oninput="SubmitAvtChng()"/>
                        <button id="imgSubmit"></button>
                    </form>
                </label>
            </div>
        </div>
    </div>
    
    <form class="flex flex-col" asp-action="UpdateNameMail" method="post">
        <div class="flex w-auto flex-row items-center py-6">
            <div class="grow">
                <div class="form-control items-center">
                    <input type="text" placeholder=@Model.UserName class="input input-bordered w-96" asp-for="newName" />
                </div>
            </div>
            <div class="grow">
                <div class="form-control items-center">
                    <input type="email" placeholder=@Model.UserEmail class="input input-bordered w-96" asp-for="newEmail" />
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center py-6">
            <button class="btn btn-success mx-2">Save</button>
        </div>
    </form>
    
    <div class="flex justify-center items-center pt-20">
        <button class="btn btn-info" onclick="change_pass.showModal()">Reset Password</button>
    </div>
    <div class="flex justify-center items-center py-12">
        <button class="btn btn-error" onclick="delete_acc.showModal()">Delete Account</button>
    </div>
</div>



@* Modals *@
@* Change Password *@
<dialog id="change_pass" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box card">
        <form class="card-body" method="post" asp-action="ChangePassword">
            <h2 class="card-title justify-center mb-6">Change Password</h2>
            <div class="form-control mt-2">
                <input type="text" placeholder="Old Password" class="input input-bordered" asp-for="oldPassword" required/>
            </div>
            
            <div class="form-control mt-2">
                <input type="text" placeholder="New Password" class="input input-bordered" asp-for="newPassword" id="newPass" oninput="CheckPass('newPass')" required/>
                <span class="hidden text-error m-2" id="passError">Password doesn't meet the requirements. (Minimum 8 Character, 1 Number, 1 Lowercase and 1 Uppercase)</span>
            </div>
            
            <div class="form-control mt-6">
                <button id="submitPass" class="btn btn-primary">Change Password</button>
            </div>
        </form>

        <div class="modal-action">
            <form method="dialog">
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>

@* Delete Account *@
<dialog id="delete_acc" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box card">
        <form class="card-body" method="post" asp-action="DeleteAccount">
            <h2 class="card-title justify-center mb-6">Delete Password</h2>
            <p class="py-4">This action will permanently delete all information including your Personal Info, Billing Info and all the links associated with your account.</p>
            <div class="form-control my-6">
                <button class="btn btn-error" asp-action="DeleteAccount">Delete Account</button>
            </div>
        </form>

        <div class="modal-action">
            <form method="dialog">
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>

<script>
    function SubmitAvtChng(){
        $("#imgSubmit").click();
    }
    
    function CheckPass(id){
        const newPass = document.querySelector(`#${id}`);
        // Double At is used because Razor Page uses single one for their syntax. 
        // Remove one At from the pair if you want to use it anywhere other than razor page.
        if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,50}$/.test(newPass.value)){
            $("#passError").css("display", "block");
            $("#submitPass").prop("disabled", true);
        }else {
            $("#passError").css("display", "none");
            $("#submitPass").prop("disabled", false);
        }
    }
</script>