@{
    Layout = "_UserLayout";
    ViewData["Title"] = "UnVerified User";
}

<div class="h-[75vh] flex items-center justify-center">
    <span class="text-2xl font-bold m-10">You have been using our services without verifying the email for past 7 days. Click <a asp-action="VerificationRequest" class="link link-info">here</a> to Verify Account so you can continue using our service</span>
</div>