@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Verification Request";
}

<div class="h-[75vh] flex items-center justify-center">
    <span class="text-4xl text-bold m-10">Main Sent. Please check your inbox.</span>
</div>