@model Web.Models.Link.IndexView;

@{
    ViewData["Title"] = "Features | Pater";
}

<div class="flex flex-col mx-8 py-20">
    <div class="card card-side bg-base-200 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Instant Shortening</h2>
            <p>Simplify your link-sharing endeavors with Pater's rapid link shortening feature. In just a single click, witness the transformation of cumbersome URLs into concise and impactful links, ready to deliver your message with efficiency.</p>
        </div>
    </div>

    <div class="divider"></div>
    <div class="card card-side bg-base-200 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Customizable URLs</h2>
            <p>Empower your brand messaging effortlessly with Pater's customizable URLs. Tailor your links to resonate with your brand identity by integrating meaningful keywords or aligning them with your unique style. Every link becomes a distinct reflection of your brand's character.</p>
        </div>
    </div>

    <div class="divider"></div>
    <div class="card card-side bg-base-200 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Detailed Analytics</h2>
            <p>Unlock the power of insights with Pater's comprehensive analytics. Delve deep into the performance of your links, gaining a 360-degree view of audience interactions. Track clicks, understand your audience demographics, and leverage geographic data for informed decision-making.</p>
        </div>
    </div>

    <div class="divider"></div>
    <div class="card card-side bg-base-200 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Link Management</h2>
            <p>Efficiency meets simplicity in link management with Pater's intuitive system. Organize your links effortlessly, make real-time edits, and delete as needed. Take charge of your digital assets with a user-friendly interface designed to streamline your link management experience.</p>
        </div>
    </div>

</div>