@{
    ViewData["Title"] = "Home | Pater";
}
<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Shorten the Path, Lengthen the Impact!</h1>
            <p class="py-6">Pater is your go-to link shortening service designed to streamline your online experience. Whether you're sharing content, promoting a product, or simplifying communication, our tool ensures concise and memorable links. Say goodbye to lengthy URLs and hello to a sleek online presence. Shorten with Pater, and make every link count!</p>
        </div>
        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <form class="card-body">
                <h2 class="card-title">Shorten a Link</h2>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Enter Link:</span>
                    </label>
                    <input type="text" class="input input-bordered" required/>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Custom Link</span>
                    </label>
                    <input type="text" class="input input-bordered"/>
                </div>
                <div class="form-control mt-6">
                    <a href="/Home/Signup/" class="btn btn-primary">Sign up to Create</a>
                </div>
            </form>
            
        </div>
    </div>
</div>