@{
    ViewData["Title"] = "Reset Password | Pater";
}

<div class=" h-[75vh] w-screen flex items-center justify-center">
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-200">
        <form class="card-body gap-4" id="resetPassword">
            <span class="text-2xl font-bold text-center">Reset Password</span>
            <span class="text-center">Set a new password for your account below</span>
            <div class="form-control py-3">
                <input type="text" 
                       placeholder="New Password" 
                       class="input input-bordered" 
                       id="newPass" 
                       title="Password doesn't meet the requirements. (Minimum 8 Character, 1 Number, 1 Lowercase and 1 Uppercase)" 
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,50}$" required/>
            </div>
            <div class="form-control pb-3">
                <input type="text" placeholder="Confirm Password" class="input input-bordered" id="newPassConfirm" required/>
            </div>
            <div role="alert" class="hidden" id="alert">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span id="alertMessage"></span>
            </div>
            <div class="form-control pt-5">
                <button class="btn btn-primary" id="resetPassButton">Reset Password</button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/Home/ResetPassword.js"></script>