@model Web.Models.View.SignupView

@{
    ViewData["Title"] = "Sign Up | Pater";
}
<div class="min-h-screen bg-base-200 py-20">
    <div class="hero">
        <div class="hero-content text-center">
            <div >
                <div class="flex flex-col justify-center item-center">
                    <h2 class="text-2xl font-bold sm:text-3xl">Join Pater Today: Elevate Your Link Management Experience</h2>
                    <p class="py-6">Welcome to Pater, your all-in-one link management solution! Signing up is the first step towards transforming the way you share and manage links online. Enjoy a host of features designed to streamline your experience and enhance your online presence. <a class="link link-primary" asp-controller="Home" asp-action="Features">Why Pater?</a></p>
                    <p class="py-2">Already Have an Account? <a class="link link-info" asp-controller="Home" asp-action="Login">Login</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
                <form method="post">
                    <div class="card-title">Sign up</div>
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div role="alert" id="errorAlert" class="alert alert-error my-5">
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                            <span>@ViewBag.ErrorMessage</span>
                        </div>
                    }
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Name</span>
                        </label>
                        <input type="text" placeholder="Name" class="input input-bordered" asp-for="name" required/>
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Email</span>
                        </label>
                        <input type="email" placeholder="Email" class="input input-bordered" asp-for="email" required/>
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input type="password" placeholder="Password" id="pass" class="input input-bordered" asp-for="password" oninput="CheckPass()" required/>
                        <span id="passError" class="hidden text-error">Password doesn't meet the requirements. (Minimum 8 Character, 1 Number, 1 Lowercase and 1 Uppercase)</span>
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary" id="signup">Sign up</button>
                    </div>
                </form>
                <div class="divider">OR</div>
                <div class="btn btn-primary" data-onsuccess="onSignIn">Google</div>
            </div>
        </div>
    </div>
</div>

<script>
    function CheckPass(){
        const pass = document.querySelector(`#pass`);
        
        if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,50}$/.test(pass.value)){
            document.querySelector("#passError").style.display = "block";
            document.querySelector("#signup").disabled = true;
        }else {
            document.querySelector("#passError").style.display = "none";
            document.querySelector("#signup").disabled = false;
        }
    }
    setTimeout(() => {
        document.querySelector("#errorAlert").remove();
    }, 10000)
    
</script>