@{
    ViewData["Title"] = "Sign Up | Pater";
}
<div class="min-h-screen bg-base-200 py-20">
      <div class="hero">
          <div class="hero-content text-center">
              <div >
                  <div class="flex flex-col justify-center item-center">
                      <h2 class="text-2xl font-bold sm:text-3xl">Join Pater Today: Elevate Your Link Management Experience</h2>
                      <p class="py-6">Welcome to Pater, your all-in-one link management solution! Signing up is the first step towards transforming the way you share and manage links online. Enjoy a host of features designed to streamline your experience and enhance your online presence. <a class="link link-primary" asp-controller="Home" asp-action="Features">Why Pater?</a></p>
                    <p class="py-2">Already Have an Account? <a class="link link-info" asp-controller="Home" asp-action="Login">Login here</a></p>
                  </div>
              </div>
          </div>
      </div>
    <div class="flex items-center justify-center">
        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <form class="card-body">
                <div class="card-title">Sign up</div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Name</span>
                    </label>
                    <input type="text" placeholder="Name" class="input input-bordered" required/>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Email</span>
                    </label>
                    <input type="email" placeholder="Email" class="input input-bordered" required/>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" placeholder="Password" class="input input-bordered" required/>
                </div>
                <div class="form-control mt-6">
                    <button class="btn btn-primary">Login</button>
                </div>
            </form>

        </div>
    </div>
</div>