@{
    ViewData["Title"] = "Terms of Service | Pater";
}

<div class="px-20 lg:px-30 py-20 bg-base-200">
    <div class="text-4xl font-bold text-center">Terms of Service</div>
    <div class="py-6 pb-2 ">These Terms of Service ("Terms") govern your use of the link shortening services provided by Pater ("us", "we", or "our"). By accessing or using our link shortening services (the "Service"), you agree to be bound by these Terms. If you disagree with any part of the Terms, then you may not access the Service.</div>
    
    <div class="text-2xl font-bold pt-10">Use of Service:</div>
    <div class="p-4">
        <ul class="list-decimal">
            <li class="py-3">
                <span class="font-bold">Link Shortening: </span>Our Service allows you to shorten URLs for easier sharing. By using our Service, you agree not to use it for any illegal or unauthorized purpose. You may not use our Service to shorten URLs that violate any laws or regulations, infringe upon any intellectual property rights, or contain harmful or malicious content.
            </li>
            <li class="py-3">
                <span class="font-bold">Link Management: </span>You may manage your shortened links through our platform, including editing, deleting, or tracking link analytics. You are responsible for maintaining the security of your account and any activities that occur under your account.
            </li>
            <li class="py-3">
                <span class="font-bold">Link Analytics: </span>Our Service allows you to track and analyze the performance of shortened URLs. By using our Service, you acknowledge that the accuracy and reliability of analytics data may vary and are dependent on various factors, including but not limited to user behavior and platform limitations.
            </li>
            <li class="py-3">
                <span class="font-bold">Prohibited Activities: </span>You agree not to engage in any activity that interferes with or disrupts the operation of the Service, including but not limited to attempting to gain unauthorized access to our systems or networks.
            </li>
        </ul>
    </div>
    
    <div class="text-2xl font-bold pt-10">Disclaimer:</div>
    <div class="p-4">
            <ul class="list-decimal">
                <li class="py-3">
                    <span class="font-bold">Accuracy of Information: </span>We do not guarantee the accuracy, completeness, or reliability of the links shortened through our Service. Users are responsible for verifying the destination of shortened links before clicking on them.
                </li>
                <li class="py-3">
                    <span class="font-bold">Third-Party Content: </span>Our Service may contain links to third-party websites or content. We do not endorse or assume any responsibility for the content, privacy policies, or practices of any third-party websites.
                </li>
            </ul>
        </div>
    
    <div class="text-2xl font-bold pt-10">Limitation of Liability:</div>
    <div class="py-4">We make no representations or warranties of any kind, express or implied, as to the operation of the Service, or the information, content, materials, or products accessed through the Service. You expressly agree that your use of the Service is at your own sole risk.<br/><br/>You understand and agree that we shall not be liable for any direct, indirect, incidental, consequential, or punitive damages, including, but not limited to, personal injury, property damage, lost profits, cost of substitute goods or services, or business interruption, arising out of or in any way connected with the use of the Service, whether in contract, tort (including negligence), strict liability, or otherwise, even if we have been advised of the possibility of such damages.</div>
    
    <div class="text-2xl font-bold pt-10">Changes to Terms:</div>
    <div class="py-4">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</div>
    
    <div class="text-2xl font-bold pt-10">Contact Us:</div>
    <div class="py-4">If you have any questions about these Terms, please contact us.</div>
    
</div>