@{
    Layout = "_Layout";
    ViewData["Title"] = "Email Verification";
}
<div class="h-[75vh] flex justify-center items-center">
    <span class="text-2xl font-bold m-10">Successfully Verified your email</span>
</div>