@model Web.Models.View.Admin.AdminDashboardView
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_UserLayout";
}

@await Html.PartialAsync("_Header.cshtml", Model.Header)

<div class="my-10 flex flex-col ">
        <div class="my-6 mx-10">
            <div role="alert" class="alert hidden" id="errorAlert">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <span id="alertMessage"></span>
            </div>
        </div>
    <div class="basis-1/6 flex justify-center items-center">
        <form class="form-control" asp-action="ManageUser">
            <input type="text" placeholder="Search using Email" asp-for="userEmail" class="input input-bordered input-info w-full max-w-xs"/>
        </form>
    </div>
    <div class="basis-5/6 flex justify-center items-center m-12 ">
        <div class="overflow-x-auto">
            <table class="table  table-lg bg-base-300">
                <thead>
                <tr>
                    <th colspan="5">
                        <div class="flex">
                            <p class="text-4xl text-base-content flex items-center">Activity Logs</p>
                            <button class="ml-4 btn btn-accent" onclick="downloadAsCSV.showModal()">Export CSV Data</button>
                            <div class="grow"></div>
                            <div class="join">
                                <button class="join-item btn" onclick="prevPage()">«</button>
                                <button class="join-item btn btn-disabled" id="pageNo"></button>
                                <button class="join-item btn" onclick="nextPage()">»</button>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th class="w-24"></th>
                    <th class="w-48">Date</th>
                    <th class="w-24">UserId</th>
                    <th class="w-48">IP Address</th>
                    <th class="w-72">Action</th>
                </tr>
                </thead>
                <tbody id="logsBody">
                </tbody>
            </table>
        </div>
    </div>
</div>


@* Modals *@
<dialog id="downloadAsCSV" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
      <h3 class="font-bold text-2xl text-center">Download Logs As CSV</h3>
      <div class="flex flex-col lg:flex-row gap-4 items-center p-5">
          <div class="form-control w-full max-w-xs">
              <div class="label">
                  <span class="label-text">Start Date</span>
              </div>
              <input type="date" id="startDate" class="input input-bordered w-full max-w-xs" />
          </div>
          <div class="form-control w-full max-w-xs">
              <div class="label">
                  <span class="label-text">End Date</span>
              </div>
              <input type="date" id="endDate" class="input input-bordered w-full max-w-xs" />
          </div>
      </div>
      <div class="flex justify-center items-center py-5">
          <button class="btn btn-success" onclick="DownloadCSV('@Url.Action("GetLogsAsCsv", "API")')">Download</button>
      </div>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>

<script src="~/js/Admin/Dashboard.js"></script>
<script>
    FetchFirstPage("@Url.Action("GetLogs", "API")");
</script>