@using Microsoft.IdentityModel.Tokens
@model Web.Models.View.User._HeaderView

<header>
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl" asp-action="Dashboard">Pater</a>
        </div>
        <div class="flex-none">
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img alt="User Avatar" src="~/UserPics/@(Model.picPath.IsNullOrEmpty() ? "default-avatar.svg" : Model.picPath)"/>
                    </div>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">

                    @if (Model.isAdmin)
                    {
                        <li>
                            <a href="@Url.ActionLink("Dashboard", "Admin")">Admin</a>
                        </li>
                    }

                    <li>
                        <a href="@Url.ActionLink("Profile")">
                            Profile
                        </a>
                    </li>

                    @if (!Model.isPaidUser)
                    {
                        <li>
                            <a href="@Url.ActionLink("Checkout")">Upgrade to Premium</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a>Billing</a>
                        </li>
                    }

                    <li>
                        <a href="@Url.ActionLink("Logout")">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>